.footer {
   color:#f4f4fd; 
   background-color: #2E2F42;
   
}
.footer-logo {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: #f4f4fd;
}

.accent {
    color: #4D5AE5;


}
.footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
   
}