@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #2E2F42;
}
.logo .accent {
    color: #4D5AE5;
        

}
.ul{
    list-style: none;
    
}
.ul a{
    text-decoration: none;
    color: #2E2F42;
    font-family: "Roboto";
    font-weight: 400;

}
