
.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    
    color: #2E2F42;
}
.logo .accent {
    color: #4D5AE5;
        

}
.logo:hover,
.logo:focus{
    color: #4D5AE5;
}

.ul{
    list-style: none;
    
}
.ul a{
    text-decoration: none;
    color: #2E2F42;
    font-family: "Roboto";
    font-weight: 700;

}
.ul li a:hover,
.ul li a:focus{
    color: #4D5AE5;
}
