#hero {
    background-color: #2E2F42;
    color: white;
    text-align: center;
    /* текст по центру */
    font-size: 20px;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-start;
}
.btn-wrapper  button {
    color: white;
    background-color: #4D5AE5;
}
    




